/* CSS Document */

#tab-wrapper {
	position:relative;
font-family:'Rokkitt', sans-serif;
	height:500px;
	width:580px;
	}
	
#tab-top {
	margin-right:62px;
	
}
#schools, #map {
background-color:#FFF;
}
#mid-left {
	position:relative;
	
	height:326px;
	clear:right;
	float:left;
}

#mid-center {
	position:relative;

	height:326px;
	float:left;
	
}

#mid-right {
	position:relative;
	height:326px;
	margin-right:62px;
	float:right;
	
}

#tab-bot {
	position:relative;
	margin-right:62px;
	
	
}
#schools {
text-align:right;

z-index:1000;
position:relative;
}
#tablet-header {

width:440px;
height:40px;
background:url('../images/tablet-header.jpg') no-repeat;
text-align:center;
font-size:23px;
padding-top:7px;
color:#FFF;
margin-left:-2px;

}
.uppercase, .upper { text-transform:uppercase; }



.savingsbar {
height:5px;
width:100%;

}

#schools a {
color:#000;
font-weight:bold;
text-decoration:none;

font-size:18px;
}

#schools a:hover {
color:#8fc741;
}

.coupon-nav { margin-top:-7px; }
.coupon-nav td {
padding-top:2px;
text-align:center;
background-color:#afada4;
font-size:10pt;
font-weight:bold;
}

#current {
background-color:#92d050;
}

.coupons { 
margin:10px;
text-align:left !important; 
}

.coupons a {
font-size:11pt !important;
}

.coupons img { margin-right:10px; }